<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Ataskaitos </title>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <link rel="stylesheet" href="jqueryui.css">
	<style>
		h3 {
	 		text-align:center;
		}
		
		nav a {
		display: inline-block;
		padding: 12px;
		margin: 12px;
		text-decoration: none;
		color: Black;
		background-color: #CAB85C;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;		
		-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);		
	}
	nav a:hover {
		text-decoration: underline;	
		background-color: #E3F392;	
	}
	
	div {
		 margin: auto;
		  width: 50%;
		  padding: 10px;
	}
	body {
	
		background-color: #F4F6F6; 
		text-align:center;
		}	
	</style>
	
<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
</script>
<script>

dialog = $( "#dialog-form" ).dialog({
    
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Parduoti": function() {
        
        	if ( checkKurinys() ) {
        	
        		alert ( $('#pav').val() );
        	
        		form.submit();
        	}
        },
        "Atšaukti": function() {
        
         form[ 0 ].reset();       
          dialog.dialog( "close" );
        }
      },
      close: function() {

        allFields.removeClass( "ui-state-error" );
      }
    });
 
    form = dialog.find( "form" );
    
	$( '.sell' ).each( function () {
    
    	$( this ).click( function() {
    
	    	id= $( this ).parent().parent().data( 'idx' );
	    	
	    	alert ( id );
	     
	   		$.ajax({
		
				url: "http://localhost:8080/ajax/pastatai?id=" + id
								
			}).done( 
			
				function ( kurinys ) {
				
					console.log ( kurinys ); 
			
					$( '#idx' ).val( kurinys.id  )		
					$( '#pav' ).val( kurinys.pav )
					$( '#technika' ).val( kurinys.technika )		
					$( '#metai_sukurimo' ).val( kurinys.metaiSukurimo)
					$( '#rusis' ).val( kurinys.rusis )					
					
					if ( kurinys.laikytojai ) {
								
						$( '#laikytojas' ).val ( kurinys.laikytojai.pav ); 
						$( '#id_laikytojas' ).val ( kurinys.id_laikytojai );
						$( '#kaina' ).val ( kurinys.kaina );
						$( '#data_nuo').val (kurinys.data_nuo);
					}
					$( '#irasas' ).val ( 'parduoti' );
					dialog.dialog( "open" );											
				}
			);
		}); 
    });
	/*		$(document).ready ( function() {		
		
				pasiimtiTopPatiekalus();
		
				function topPatiekalaiILentele ( data, divas ) {		
														// alert ( 'jquery ok ' + data );
					res_str = '<table>'
							+ '<tr>' 
														// + '<th rowspan="2">id</th>'
							+  '<th>id</th>'													
							+  '<th>pateikalas</th>'
							+ ' <th>ruošti</th>'
							+ ' <th>kaitinti</th>'
							+ '<th>kaina</th>'
							+ '<th>užsakymų</th>'
							+ '<th>už sumą</th>'
							+ '</tr>'
						;
							
											// + '<tr><th>ruošimo</th><th>kaitinimo</th><th>veiksmas</th></tr>';
													// bus_paruostas_uz":35,"":47
					
					for ( i = 0; i < data.length; i++) {
					
						res_str += '<tr>'
							 + '<td>' + data [ i ].pat_id + '</td>' 
							+ '<td>' + data [ i ].patiekalas +'</td>'
							+ '<td>' + data [ i ].ruosti + '</td>'
							+ '<td>' + data [ i ].kaitinti + '</td>'
							+ '<td>' + data [ i ].kaina  + '</td>'
							+ '<td>' + data [ i ].uzsakymu + '</td>'
							+ '<td>' + data [ i ].uz_suma + '</td>'
							+ '</tr>';
						;
					}
					
					res_str += '</table>'
					$( '#' + divas ).html ( res_str );
				}
			
				function pasiimtiTopPatiekalus( ) {
				
					var today = new Date();
					var dd = String(today.getDate()).padStart(2, '0');
					var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
					var yyyy = today.getFullYear();

					today = yyyy + '-' + mm + '-' + dd;
					first_month_day = yyyy + '-' + mm + '-01';
				
					$.ajax(
						{
							url: "http://localhost:8080/restfull/top-patiekalai?laikotarpis_nuo=" + today + '&laikotarpis_iki=' + today 
						}
					)
					.done(
					
						function( data ) {
						
							topPatiekalaiILentele ( data, "top_dienos" )
						}
					);
					
					$.ajax(
						{
							url: "http://localhost:8080/restfull/top-patiekalai?laikotarpis_nuo=" + first_month_day + '&laikotarpis_iki=' + today 
						}
					)
					.done(
					
						function( data ) {
						
							topPatiekalaiILentele ( data, "top_menesio" );
						}
					);				
				}*/
	});
		</script>		
</head>
<body>
	<nav>
		<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
	</nav>

<h3> Ataskaitos </h3>
<div style="width: 40%; margin 10px auto 10px auto">
<div id="dialog-form" class="forma" title="Rūšiuoti">
<form id="frm_laikytojas" method="post" action="">
<input type="radio" name="plota_max" value="0">Pagal ploto max<br>
<input type="radio" name="kaina_max" value="0">Pagal kainos iki max<br>
<input type="radio" name="kaina_min" value="0">Pagal kaina nuo min<br>
Ar mieste: <input type="checkbox" id="flag_miesto" value="1">
Ar kaime: <input type="checkbox" id="flag_miesto" value="0">
</form>
</div>
<table>
	<tr>
		<th>
			Apskritis
		</th>
		<th>
			kom.<br>pastatų<br>plotas
		</th>
		<th>
			kaina<br> nuo
		</th>
		<th>
			kaina<br> iki
		</th>		
		<th>
			gyv.<br>pastatų<br>plotas
		</th>
		<th>
			kaina<br> nuo
		</th>
		<th>
			kaina<br> iki
		</th>
	</tr>
	
	<tr th:each="top_pastatas : ${lst_top_pastatai}">
					<td th:text="${top_pastatas[0]}"></td>								
					<td th:text="${top_pastatas[1]}"></td>				
					<td th:text="${top_pastatas[2]}"></td>
					<td th:text="${top_pastatas[3]}"></td>
					<td th:text="${top_pastatas[4]}"></td>
					<td th:text="${top_pastatas[5]}"></td>
					<td th:text="${top_pastatas[6]}"></td>
				</tr>
</table>
 	</body>
</html>